html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.overlay {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("bkg.jpg");
  background-size: cover;
}
.wb {  
  color: #000;
  background-color: #fff;
  mix-blend-mode: screen;
  padding: 7px 12px;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
.wb:hover {
  opacity: 0.7;
}
ul {
  overflow: hidden;
  padding-right: 70px;
  list-style-type: none;
}
li {
  float: right;
}
li a {
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding: 10px;
  padding-bottom: 2px;
  margin: 0px 4px;
  margin-bottom: 5px;
  border-bottom: 2px solid #fff;
}
li a:hover {
  font-weight: bold;
}
li .dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  border: 2px white;
  border-radius: 8px;
  background-color: white;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#navbar {
  margin: 0;
  padding-top: 35px;
}
#mainContent {
  text-align: right;
  margin-top: 135px;
  padding-right: 76px;
}
.topic {
  font-size: 45px;
  font-weight: bold;
  margin-top: 135px;
  margin-bottom: 155px;
  position: relative;
}

