html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
/* navigation bar */
#navigation-bar {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
  width: 100vw;
  position: fixed;
}
ul {
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 35px 45px 0px 40px;
}
li {
  float: right;
}
li a {
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding: 10px;
  padding-bottom: 2px;
  margin: 0px 4px;
  margin-bottom: 5px;
  border-bottom: 1pt solid #fff;
}
li a:hover {
  font-weight: bold;
  border-bottom: 5pt solid #fff;
}
li .dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  border: 2px white;
  border-radius: 8px;
  background-color: white;
}
.dropdown-content a {
  color: #3288B7;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  border-bottom: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#logo {
  float: left;
}
#logo img {
  height: 30%;
  width: 30%;
}
#cart {
  width: 35px;
}
#cart:hover {
  opacity: 0.7;
}
#cart img {
  height: 100%;
  width: 100%;
  padding-top: 5px;
}
.wb {  
  color: #3288B7;
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: swisot2regular, sans-serif;
}
.wb:hover {
  opacity: 0.7;
}
/* carousel */ 
.swiper-container {
  width: 100vw;
  height: 100vh;
}
#container {
  filter: none;
  transition: 0.7s;
}
.swiper-button-prev {
  background-image: url("previous.png") !important;
}
.swiper-button-next {
  background-image: url("next.png") !important;
}
/* first page */
#first {
  background-image: url("pure_background.png");
  background-size: cover;
  text-align: right;
  position: relative;
}
#first * {
  padding-right: 76px;
}
#first h1 {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin-top: 200px;
  letter-spacing: 5px;
  margin-bottom: 120px;
}
#first div img {
  padding-right: 0;
  max-width: 221.9px;
  max-height: 46.2px;
}
#first div img:hover {
  opacity: 0.7;
}
#first p {
  top: 83%;
  right: 2px;
  position: absolute;
  font-size: 17px;
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 0px;
  letter-spacing: 4px;
}
/* second page */
#second {
  position: relative;
  background-image: url("secondBkg.png");
  background-size: cover;
}
#second h1 {
  font-size: 45px;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  top: 50%;
  left: 50%;
  position: absolute;
  letter-spacing: 5px;
  transform: translate(-50%, -50%);
}
#second div {
  top: 70%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 50%);
}
#second div:hover {
  opacity: 0.7;
}
#second div img {
  height: 40%;
  width: 40%;
}
.expand:hover {
  font-size: 55px;
}